body{ 
    font-size: 15px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 200; 
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%); 
    margin-top: 60px;
}

h1, h4{  
    text-align: center; 
}

h1, h3{
    color: hsl(234, 12%, 34%);
}

.lighter-wieght{ 
    font-weight: 100; 
    margin-bottom: 10px;
} 

h4{
    font-weight: 200;
}

.heavy-weight{ 
    font-weight: 600;
    margin-top: 0; 
}

.box1, .box2, .box3, .box4{
    height: 185px;
    width: 300px;
    padding: 15px 30px 30px;
    margin: 15px;
    background-color: white;
    border-top-style: solid;
    border-radius: 5px;
    border-top-width: 5px;
    box-shadow: 10px 10px 8px #888888;
}

.box1{
    border-top-color: hsl(180, 62%, 55%);
}

.box2{
    border-top-color: hsl(0, 78%, 62%);
}

.box3{
    border-top-color: hsl(34, 97%, 64%);
}

.box4{
    border-top-color: hsl(212, 86%, 64%);
}

img{
    float: right;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution{ 
    font-size: 11px; text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}